In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df_train = pd.read_csv("train.csv")
df_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
df_train.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [6]:
df2_train = df_train[['PassengerId','Survived', 'Sex','Age', 'Pclass']]
df2_train.head()

   PassengerId  Survived     Sex   Age  Pclass
0            1         0    male  22.0       3
1            2         1  female  38.0       1
2            3         1  female  26.0       3
3            4         1  female  35.0       1
4            5         0    male  35.0       3

In [9]:
import math
mean_age = math.floor(df2_train.Age.mean())
mean_age

29

In [10]:
df2_train.Age = df2_train.Age.fillna(mean_age)

D:\CODING\Anaconda\lib\site-packages\pandas\core\generic.py:5494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [13]:
from sklearn.preprocessing import LabelEncoder
le_sex = LabelEncoder()
df2_train['sex_n'] = le_sex.fit_transform(df2_train['Sex'])
df_train_final = df2_train.drop(['Sex'],axis='columns')
df_train_final.head()

<ipython-input-13-f7518b7a748a>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2_train['sex_n'] = le_sex.fit_transform(df2_train['Sex'])

   PassengerId  Survived   Age  Pclass  sex_n
0            1         0  22.0       3      1
1            2         1  38.0       1      0
2            3         1  26.0       3      0
3            4         1  35.0       1      0
4            5         0  35.0       3      1

In [15]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model.fit(df_train_final.drop(['Survived'] ,axis='columns') , df_train_final.Survived)

(LogisticRegression(),)

In [18]:
df_test = pd.read_csv("test.csv")
df_test.isnull().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [20]:
df2_test = df_test[['PassengerId', 'Sex','Age', 'Pclass']]
import math
mean_age = math.floor(df2_test.Age.mean())
df2_test.Age = df2_test.Age.fillna(mean_age)
from sklearn.preprocessing import LabelEncoder
le_sex = LabelEncoder()
df2_test['sex_n'] = le_sex.fit_transform(df2_test['Sex'])
df_test_final = df2_test.drop(['Sex'],axis='columns')
df_test_final.head()

D:\CODING\Anaconda\lib\site-packages\pandas\core\generic.py:5494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value
<ipython-input-20-bf6fc77d5180>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2_test['sex_n'] = le_sex.fit_transform(df2_test['Sex'])

   PassengerId   Age  Pclass  sex_n
0          892  34.5       3      1
1          893  47.0       3      0
2          894  62.0       2      1
3          895  27.0       3      1
4          896  22.0       3      0

In [25]:
pred = model.predict(df_test_final)
df_output = pd.DataFrame(df_test_final.PassengerId)
df_output['Survived'] = pred
df_output

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

In [28]:
df_output.to_csv("output.csv",index = False)

In [30]:
from sklearn import tree
model = tree.DecisionTreeClassifier()
model.fit(df_train_final.drop(['Survived'] ,axis='columns') , df_train_final.Survived)
pred = model.predict(df_test_final)
df_output = pd.DataFrame(df_test_final.PassengerId)
df_output['Survived'] = pred
df_output.to_csv("DToutput.csv",index = False)